<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <display-name>ListaDigital</display-name>

  <servlet>
    <description>
    </description>
    <servlet-name>Dispatcher</servlet-name>
    <servlet-class>com.surix.ld.ioc.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>lookup-package</param-name>
      <param-value>com.surix.ld.controllers</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dispatcher</servlet-name>
    <url-pattern>/ioc/*</url-pattern>
  </servlet-mapping>

  <filter>
    <description>
    </description>
    <display-name>SecurityFilter</display-name>
    <filter-name>SecurityFilter</filter-name>
    <filter-class>com.surix.ld.filter.SecurityFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/load/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/save/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/restore/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/upload/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/mailer</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/download/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/admin/utils/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/payments/load</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/list/planner/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/list/event/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/list/user/*</url-pattern>
  </filter-mapping>

  <filter>
    <description>
    </description>
    <display-name>ContentTypeFilter</display-name>
    <filter-name>ContentTypeFilter</filter-name>
    <filter-class>com.surix.ld.filter.ContentTypeFilter</filter-class>
  </filter>
  <filter>
    <description>
    </description>
    <display-name>Log4jContext</display-name>
    <filter-name>Log4jContext</filter-name>
    <filter-class>com.surix.ld.filter.Log4jContext</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ContentTypeFilter</filter-name>
    <url-pattern>/load/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ContentTypeFilter</filter-name>
    <url-pattern>/save/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ContentTypeFilter</filter-name>
    <url-pattern>/login</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ContentTypeFilter</filter-name>
    <url-pattern>/admin/login</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ContentTypeFilter</filter-name>
    <url-pattern>/list/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ContentTypeFilter</filter-name>
    <url-pattern>/payments/load</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Log4jContext</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <description>
    </description>
    <display-name>RestoreEntity</display-name>
    <servlet-name>RestoreEntity</servlet-name>
    <servlet-class>com.surix.ld.controller.RestoreEntity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestoreEntity</servlet-name>
    <url-pattern>/restore/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <description>
    </description>
    <display-name>Tracker</display-name>
    <servlet-name>Tracker</servlet-name>
    <servlet-class>com.surix.ld.controller.Tracker</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tracker</servlet-name>
    <url-pattern>/report</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Tracker</servlet-name>
    <url-pattern>/track</url-pattern>
  </servlet-mapping>

  <servlet>
    <description>
    </description>
    <display-name>LoaderServlet</display-name>
    <servlet-name>LoaderServlet</servlet-name>
    <servlet-class>com.surix.ld.controller.LoaderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoaderServlet</servlet-name>
    <url-pattern>/load/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <description>
    </description>
    <display-name>SaverServlet</display-name>
    <servlet-name>SaverServlet</servlet-name>
    <servlet-class>com.surix.ld.controller.SaverServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaverServlet</servlet-name>
    <url-pattern>/save/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <description>
    </description>
    <display-name>Mailer</display-name>
    <servlet-name>Mailer</servlet-name>
    <servlet-class>com.surix.ld.controller.Mailer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mailer</servlet-name>
    <url-pattern>/mailer</url-pattern>
  </servlet-mapping>

  <servlet>
    <description>
    </description>
    <display-name>AssetsUploader</display-name>
    <servlet-name>AssetsUploader</servlet-name>
    <servlet-class>com.surix.ld.controller.AssetsUploader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssetsUploader</servlet-name>
    <url-pattern>/upload/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <description>
    </description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.surix.ld.controller.Login</servlet-class>
    <init-param>
      <param-name>role</param-name>
      <param-value>admin</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/admin/login</url-pattern>
  </servlet-mapping>

  <servlet>
    <description>
    </description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.surix.ld.controller.Login</servlet-class>
    <init-param>
      <param-name>role</param-name>
      <param-value>user</param-value>
    </init-param>
  </servlet>
  <servlet>
    <description>
    </description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.surix.ld.controller.Logout</servlet-class>
  </servlet>
  <servlet>
    <description>
    </description>
    <display-name>BulkLoad</display-name>
    <servlet-name>BulkLoad</servlet-name>
    <servlet-class>
      com.surix.ld.controller.BulkLoad</servlet-class>
  </servlet>
  <servlet>
    <description>
    </description>
    <display-name>RegisterStandAloneEvent</display-name>
    <servlet-name>RegisterStandAloneEvent</servlet-name>
    <servlet-class>com.surix.ld.controller.RegisterStandAloneEvent</servlet-class>
  </servlet>
  <servlet>
    <description>
    </description>
    <display-name>RegisterPlanner</display-name>
    <servlet-name>RegisterPlanner</servlet-name>
    <servlet-class>
      com.surix.ld.controller.RegisterPlanner</servlet-class>
  </servlet>
  <servlet>
    <description>
    </description>
    <display-name>ResetPassword</display-name>
    <servlet-name>ResetPassword</servlet-name>
    <servlet-class>
      com.surix.ld.controller.ResetPassword</servlet-class>
  </servlet>
  <servlet>
    <description>
    </description>
    <display-name>changePassword</display-name>
    <servlet-name>changePassword</servlet-name>
    <servlet-class>
      com.surix.ld.controller.ChangePassword</servlet-class>
  </servlet>
  <servlet>
    <description>
    </description>
    <display-name>ListingSevlet</display-name>
    <servlet-name>ListingSevlet</servlet-name>
    <servlet-class>
      com.surix.ld.controller.ListingSevlet</servlet-class>
  </servlet>
  <servlet>
    <description>
    </description>
    <display-name>ErrorServlet</display-name>
    <servlet-name>ErrorServlet</servlet-name>
    <servlet-class>
      com.surix.ld.util.ErrorServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
    </description>
    <display-name>Download</display-name>
    <servlet-name>Download</servlet-name>
    <servlet-class>
      com.surix.ld.controller.Download</servlet-class>
  </servlet>
  <servlet>
    <description>
    </description>
    <display-name>AdminUtils</display-name>
    <servlet-name>AdminUtils</servlet-name>
    <servlet-class>
      com.surix.ld.controller.AdminUtils</servlet-class>
  </servlet>
  <servlet>
    <description>
    </description>
    <display-name>Payments</display-name>
    <servlet-name>Payments</servlet-name>
    <servlet-class>
      com.surix.ld.controller.Payments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BulkLoad</servlet-name>
    <url-pattern>/bulkLoad</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterPlanner</servlet-name>
    <url-pattern>/registerPlanner</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterStandAloneEvent</servlet-name>
    <url-pattern>/registerEvent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResetPassword</servlet-name>
    <url-pattern>/resetPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>changePassword</servlet-name>
    <url-pattern>/changePassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListingSevlet</servlet-name>
    <url-pattern>/list/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ErrorServlet</servlet-name>
    <url-pattern>/errorServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Download</servlet-name>
    <url-pattern>/download/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminUtils</servlet-name>
    <url-pattern>/admin/utils/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Payments</servlet-name>
    <url-pattern>/payments/*</url-pattern>
  </servlet-mapping>

  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/errorServlet</location>
  </error-page>

  <listener>
    <listener-class>com.surix.ld.ioc.SessionListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.surix.ld.ioc.InitContainer</listener-class>
  </listener>
</web-app>
